<!DOCTYPE html>
<html>
<head>
  <title>Monkey Dojo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->

  <div class="row">
    <div class="twelve columns">

      <ul class="top-bar">

        <ul>
      <li class="name"><h1><a href="#">Monkey Dojo</a></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <ul class="left">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Link</a>

          <ul class="dropdown">
            <li><a href="#">Dropdown Link</a></li>
            <li><a href="#">Dropdown Link</a></li>
            <li><a href="#">Dropdown Link</a></li>
          </ul>
      </ul>
    </section>

  </div>
</div>

<!-- End Navigation -->
<%= yield %>

</body>
</html>
